<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  	<script type="text/javascript"></script>
  </head>
  <body>
  	<div>
  	{% if notification != "" %}
  		<script>
  			alert("{{notification}}");
  		</script>
  	{% endif %}
	<script>
		var updater;
	  	{% if status == "StartPending" or status == "StopPending" %}
		  	updater = setInterval(function(){location.href = "/check";}, 1000);
		{% else %}
			clearInterval(updater); 
		{% endif %}
	</script>
	{% if mode == True %}
		<input type="checkbox" id="turn" onclick="change()" checked>
		<label for="turn">Application is Up.</label>
	{% else %}
		<input type="checkbox" id="turn" onclick="change()">
		<label for="turn">Application is Down.</label>
	{% endif %}
    </div>
	<font color={{color}}>Service state is {{status}}</font>
		<div>
			<form action="/start">
				<input type="submit" value="Start">
			</form>
    	</div>
    	<div>
    		<form action="/reboot">
				<input type="submit" value="Reboot">
			</form>
    	</div>
    	<div>
    		<form action="/stop">
				<input type="submit" value="Shutdown">
			</form>
    	</div>
  </body>
  <script>
	function change(){
		location.href = "/?mode";
	};
  </script>
</html>


